.product-page {
  .search {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 5%;
    .search-input {
      width: 50%;
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
  .products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-top: 10px;
  }
}
